# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo
.expo/
*.jks
*.p12
*.key
*.store
*.keystore

# macOS
.DS_Store

# Thumbnails
.thumbnails/

# Logs
logs/
*.log